@import "tailwindcss";

@theme {
  /* Our Custom Medical Brand Colors */
  --color-medical-50: #f0f9ff;
  --color-medical-100: #e0f2fe;
  --color-medical-500: #0ea5e9;
  --color-medical-600: #0284c7;
  --color-medical-900: #0c4a6e;
}

/* This enables the "Dark Mode" toggle switch we will build later */
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}